.login {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    background: linear-gradient(153deg, #2b73b4, #6b4a9d);
    .login-content {
        .extraPart {
            border-left: solid 1px #eeeeee;
            padding-left: 12px;
            font-size: 17px;
            line-height: 22px;
            a {
                color: #d0d0d0;
            }
        }
        .eye {
            padding: 4px;
            cursor: pointer;
            svg {
              display: block;
              font-size: var(--adm-font-size-7);
            }
        }
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }
    .login-bottom-ways {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }
    // 组件的样式
    .adm-list-item {
        background: linear-gradient(153deg, #2b73b4, #6b4a9d);
    }
    .adm-form-item-label {
        color: #fff;
    }
}