.search {
    max-width: 436px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #ffffff;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    // left: 0;
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    z-index: 999;
    padding: 0 6px;
    display: flex;
    align-items: center;
    .adm-search-bar {
        width: 100%;
        background: #fff;
    }
}

.applyForPromotion {
    .promationDetail {
        .floatBtn {
            position: fixed;
            width: 300px;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}