.adm-card-header:not(:last-child) {
    border: 0;
}
.advator {
    position: absolute;
    left: 50%;
    transform: translateX(-36px);
    top: -45px;
    width: 80px;
}
.advator .adm-image-uploader-cell-image {
    width: 80px;
}

.advator .adm-image-uploader-cell {
    width: 80px;
}