#root {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container, .login {
    max-width: 450px;
    height: 100%;
    margin: 0 auto;
    position: relative; /* 关键 */
    /* overflow: scroll; */
}

@media (min-width: 450px) {
    .container {
        border: 1px solid #ccc;
    }
    .container .floatBtn {
        width: 300px;
    }
}
  