.uploadImgVideo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .uploadTip {
        .uploadHeadtitle {
            font-size: 15px;
        }
        .uploadSubtitle {
            font-size: 10px;
            color: #ff3141;
        }
    }
}

.close-btn {
    position: absolute;
    top: -1px;
    right: 31px;
    width: 14px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 0 12px;
    font-size: 12px;
    color: var(--adm-color-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}