.uploadTip {
    .uploadHeadtitle {
        font-size: 15px;
    }
    .uploadSubtitle {
        font-size: 10px;
        color: #1677ff;
    }
}

.close-btn {
    position: absolute;
    top: -1px;
    left: 125px;
    width: 14px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 0 12px;
    font-size: 12px;
    color: var(--adm-color-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adm-image-uploader-cell {
    width: 140px;
}
.adm-image-uploader-cell-image {
    width: 140px;
}

.crop-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    img {
        max-width: 100%;
        max-height: 70vh;
    }

    .crop-actions {
        margin-top: 20px;
        display: flex;
        gap: 10px;
    }
}