.collectionContainer {
    .collectContent {
        padding: 6px 6px;
        .contentItem {
            padding: 2px;
            background: #f8f8fb;
            .itemTitle {
                display: flex;
                justify-content: space-between;
            }
        }
        .floatBtn {
            position: fixed;
            width: 70%;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}